# ip address of the hydraulic controller
flower_endpoint = "http://192.168.0.42"
# enable YOLO's logging, (this will spam your console)
yolo_verbose = false

# camera entry, this is a TOML list so you can add as many as you want (within reason lol)
[[cameras]]
# the IP address of the camera or a local filepath to a videofile
uri = "192.168.0.2"

[[cameras]]
uri = "192.168.0.3"

[[cameras]]
uri = "192.168.0.4"

# the following lines are optional and only valid when using anything other than a local filepath
rstp_path = "/axis-media/media.amp"
username = "root"
password = "admin"

