flower_endpoint = "192.168.0.42"

[[cameras]]
uri = "192.168.0.2"
panorama_location = 1

[[cameras]]
uri = "192.168.0.3"
panorama_location = 1


[[cameras]]
uri = "192.168.0.4"
panorama_location = 2
# the following lines are optional and only used valid when using anything other than a local filepath
rstp_path = "/axis-media/media.amp"
username = "root"
password = "admin"

