# ip address of the hydraulic controller
flower_endpoint = "http://192.168.0.42"

# OPTIONAL: when `recording_dir` is set, it will record the seperate camera feeds to this output dir.
# The filename will be as follows `cam-X-Y.avi`
#
# `X` is the camera number, this is based on the order the appear in the config file.
#     In this case the camera at address `192.168.0.2` will have an `X` value of `0`
# `Y` is the part_id, this will rise as you have more recordings.
recording_dir = "sample_recordings"

# OPTIONAL: enable YOLO's logging (default is true)
yolo_verbose = false



# camera entry, this is a TOML list so you can add as many as you want (until we run out of memory lol)
[[cameras]]
# the IP address of the camera, a camera index or a local filepath to a videofile
uri = "192.168.0.2"

[[cameras]]
uri = "/path/to/video.mp4"

[[cameras]]
# camera index (used for USB webcams etc)
uri = 0

# the following lines are optional and only valid when using anything other than a local filepath
rstp_path = "/axis-media/media.amp"
username = "root"
password = "admin"

